body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.Main {
    display: inline;
}
#Banner {
    font-family: AudioWide;
    text-align: center;
    font-size: 60px;
    
}
#SubBanner {
    font-family: Iceland;
    text-align: center;
    font-size: 30px;
    color: white;
}
#CityNames {
    font-family: Iceland;
    font-size: 25px;
}
#Strip {
    background-color: #a31616;
}